{
  "openapi": "3.1.0",
  "info": {
    "title": "gibical API Documentation",
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https:\/\/api.gibical.app\/v2",
      "description": "Prod"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "\/assets": {
      "get": {
        "operationId": "v2.assets.index",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetMediaTypeEnum"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "created_at",
                "views_count",
                "sales_count"
              ]
            }
          },
          {
            "name": "license_type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "free",
                "ownership",
                "subscription"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetStatusEnum"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetSourceEnum"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/AssetResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      },
      "post": {
        "operationId": "v2.assets.store",
        "tags": [
          "Assets"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/AssetStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/AssetResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/assets\/{asset}": {
      "get": {
        "operationId": "v2.assets.show",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/AssetResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "v2.assets.update",
        "description": "\u26a0\ufe0fCannot generate request documentation: Attempt to read property \"license_type\" on null",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/AssetResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/assets\/{assetId}\/similar": {
      "get": {
        "operationId": "v2.assets.similar",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/AssetResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "\/profile\/assets": {
      "get": {
        "operationId": "v2.profile.assets",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetMediaTypeEnum"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "created_at",
                "views_count",
                "sales_count"
              ]
            }
          },
          {
            "name": "license_type",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "free",
                "ownership",
                "subscription"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetStatusEnum"
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/AssetSourceEnum"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/AssetResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/assets\/{assetId}": {
      "delete": {
        "operationId": "v2.assets.destroy",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/recently-viewed": {
      "get": {
        "operationId": "v2.assets.recentlyViewed",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Array of `AssetResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/AssetResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/{asset}\/buy": {
      "patch": {
        "operationId": "v2.assets.buy",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/bills": {
      "get": {
        "operationId": "bills.index",
        "tags": [
          "Bills"
        ],
        "responses": {
          "200": {
            "description": "Array of `BillResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/BillResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/bug-reports": {
      "post": {
        "operationId": "bugReports.store",
        "tags": [
          "BugReports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`BugReportResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/BugReportResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/categories": {
      "get": {
        "operationId": "categories.index",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "\/channels\/{channel}\/destinations\/{destination}": {
      "post": {
        "operationId": "channelDestination.add",
        "tags": [
          "ChannelDestination"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "The destination ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "delete": {
        "operationId": "channelDestination.remove",
        "tags": [
          "ChannelDestination"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "The destination ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/channels\/{channel}\/lives": {
      "get": {
        "operationId": "v2.channels.lives.index",
        "tags": [
          "ChannelLive"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `LiveResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/LiveResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/channels": {
      "get": {
        "operationId": "public.v2.stream.channels.index",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "af",
                "sq",
                "am",
                "ar",
                "hy",
                "az",
                "eu",
                "be",
                "bn",
                "bs",
                "bg",
                "ca",
                "ceb",
                "ny",
                "zh-CN",
                "zh-TW",
                "co",
                "hr",
                "cs",
                "da",
                "nl",
                "en",
                "eo",
                "et",
                "tl",
                "fi",
                "fr",
                "fy",
                "gl",
                "ka",
                "de",
                "el",
                "gu",
                "ht",
                "ha",
                "haw",
                "he",
                "hi",
                "hmn",
                "hu",
                "is",
                "ig",
                "id",
                "ga",
                "it",
                "ja",
                "jv",
                "kn",
                "kk",
                "km",
                "rw",
                "ko",
                "ku",
                "ky",
                "lo",
                "la",
                "lv",
                "lt",
                "lb",
                "mk",
                "mg",
                "ms",
                "ml",
                "mt",
                "mi",
                "mr",
                "mn",
                "my",
                "ne",
                "no",
                "or",
                "ps",
                "fa",
                "pl",
                "pt",
                "pa",
                "ro",
                "ru",
                "sm",
                "gd",
                "sr",
                "st",
                "sn",
                "sd",
                "si",
                "sk",
                "sl",
                "so",
                "es",
                "su",
                "sw",
                "sv",
                "tg",
                "ta",
                "tt",
                "te",
                "th",
                "tr",
                "tk",
                "uk",
                "ur",
                "ug",
                "uz",
                "vi",
                "cy",
                "xh",
                "yi",
                "yo",
                "zu"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "last_event_type",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/ChannelEventTypeEnum"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/ChannelResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "v2.channels.store",
        "description": "\u26a0\ufe0fCannot generate request documentation: Call to a member function isOperator() on null",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/channels\/{channel}": {
      "get": {
        "operationId": "channels.show",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      },
      "put": {
        "operationId": "v2.channels.update",
        "description": "\u26a0\ufe0fCannot generate request documentation: Attempt to read property \"id\" on null",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "v2.channels.destroy",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/channels\/{channel}\/redirect": {
      "get": {
        "operationId": "v2.channels.redirect",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          }
        }
      }
    },
    "\/profile\/channels": {
      "get": {
        "operationId": "public.v2.profile.channels.index",
        "tags": [
          "Channels"
        ],
        "responses": {
          "200": {
            "description": "Array of `ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/ChannelResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/channels\/{channel}\/switch": {
      "post": {
        "operationId": "v2.channels.switch",
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "live_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ChannelResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ChannelResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/{asset}\/comments": {
      "get": {
        "operationId": "v2.comments.index",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `CommentResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/CommentResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/comments": {
      "post": {
        "operationId": "v2.comments.store",
        "tags": [
          "Comments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/CommentStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`CommentResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/CommentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/assets\/comments\/{comment}": {
      "delete": {
        "operationId": "v2.comments.destroy",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "The comment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/comments\/{comment}\/approve": {
      "patch": {
        "operationId": "v2.comments.approve",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "The comment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/assets\/comments\/{comment}\/reject": {
      "patch": {
        "operationId": "v2.comments.reject",
        "tags": [
          "Comments"
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "path",
            "required": true,
            "description": "The comment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/home": {
      "get": {
        "operationId": "contents.home",
        "tags": [
          "Contents"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/ContentResource"
                }
              }
            }
          }
        }
      }
    },
    "\/terms": {
      "get": {
        "operationId": "contents.terms",
        "tags": [
          "Contents"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/ContentResource"
                }
              }
            }
          }
        }
      }
    },
    "\/privacy": {
      "get": {
        "operationId": "contents.privacy",
        "tags": [
          "Contents"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/ContentResource"
                }
              }
            }
          }
        }
      }
    },
    "\/about-us": {
      "get": {
        "operationId": "contents.aboutUs",
        "tags": [
          "Contents"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "$ref": "#\/components\/schemas\/ContentResource"
                }
              }
            }
          }
        }
      }
    },
    "\/faq": {
      "get": {
        "operationId": "contents.faq",
        "tags": [
          "Contents"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "$ref": "#\/components\/schemas\/ContentResource"
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/FaqQuestionContentResource"
                      }
                    }
                  },
                  "required": [
                    "content",
                    "questions"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "\/countries": {
      "get": {
        "operationId": "countries.index",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Array of `CountryResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/CountryResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "\/countries\/{iso}\/cities": {
      "get": {
        "operationId": "countries.cities",
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "iso",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `CityResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/CityResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "\/destinations": {
      "get": {
        "operationId": "v2.destinations.index",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "schema": {
              "type": [
                "integer",
                "null"
              ]
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `DestinationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/DestinationResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "v2.destinations.store",
        "tags": [
          "Destinations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/DestinationStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`DestinationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/DestinationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/destinations\/{destination}": {
      "get": {
        "operationId": "v2.destinations.show",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "The destination ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`DestinationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/DestinationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "v2.destinations.update",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "The destination ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/DestinationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`DestinationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/DestinationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "v2.destinations.destroy",
        "tags": [
          "Destinations"
        ],
        "parameters": [
          {
            "name": "destination",
            "in": "path",
            "required": true,
            "description": "The destination ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/external-accounts": {
      "get": {
        "operationId": "v2.external-accounts.index",
        "tags": [
          "ExternalAccounts"
        ],
        "responses": {
          "200": {
            "description": "Array of `ExternalAccountResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/ExternalAccountResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "v2.external-accounts.store",
        "tags": [
          "ExternalAccounts"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#\/components\/schemas\/ExternalAccountStoreRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ExternalAccountResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#\/components\/schemas\/ExternalAccountResource"
                        }
                      },
                      "required": [
                        "data"
                      ]
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/external-accounts\/{externalAccount}": {
      "get": {
        "operationId": "v2.external-accounts.show",
        "tags": [
          "ExternalAccounts"
        ],
        "parameters": [
          {
            "name": "externalAccount",
            "in": "path",
            "required": true,
            "description": "The external account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ExternalAccountResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ExternalAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "delete": {
        "operationId": "v2.external-accounts.destroy",
        "tags": [
          "ExternalAccounts"
        ],
        "parameters": [
          {
            "name": "externalAccount",
            "in": "path",
            "required": true,
            "description": "The external account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/external-accounts\/google": {
      "post": {
        "operationId": "externalAccounts.storeGoogleAccount",
        "tags": [
          "ExternalAccounts"
        ],
        "requestBody": {
          "content": {
            "application\/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#\/components\/schemas\/GoogleExternalAccountStoreRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ExternalAccountResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ExternalAccountResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/external-accounts\/facebook": {
      "post": {
        "operationId": "externalAccounts.storeFacebookAccount",
        "tags": [
          "ExternalAccounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/FacebookExternalAccountStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/external-accounts\/x": {
      "post": {
        "operationId": "externalAccounts.storeXAccount",
        "tags": [
          "ExternalAccounts"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/files": {
      "get": {
        "operationId": "v2.files.index",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Array of `FileResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/FileResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "post": {
        "operationId": "v2.files.store",
        "description": "\u26a0\ufe0fCannot generate request documentation: Too few arguments to function App\\Http\\Requests\\Assets\\FileStoreRequest::rules(), 0 passed in \/app\/vendor\/dedoc\/scramble\/src\/Support\/OperationExtensions\/RulesExtractor\/FormRequestRulesExtractor.php on line 86 and exactly 1 expected",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "`FileResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/FileResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/files\/{file}": {
      "get": {
        "operationId": "v2.files.show",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The file ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`FileResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/FileResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "delete": {
        "operationId": "v2.files.destroy",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The file ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/files\/{file}\/thumbnails": {
      "post": {
        "operationId": "v2.files.thumbnail",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The file ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/files\/{file}\/hls": {
      "post": {
        "operationId": "v2.files.hls",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The file ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/files\/{file}\/calculate-time": {
      "post": {
        "operationId": "v2.files.time",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "description": "The file ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/firebase": {
      "get": {
        "operationId": "firebaseTokens.sendTestNotification",
        "tags": [
          "FirebaseTokens"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "boolean"
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "\/push-notifications\/firebase-tokens": {
      "post": {
        "operationId": "firebaseTokens.store",
        "tags": [
          "FirebaseTokens"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/invoices": {
      "get": {
        "operationId": "invoices.index",
        "tags": [
          "Invoices"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/invoices\/{invoice}\/link": {
      "get": {
        "operationId": "invoices.link",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "description": "The invoice ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/languages": {
      "get": {
        "operationId": "languages.index",
        "tags": [
          "Languages"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          }
        }
      }
    },
    "\/assets\/{asset}\/license": {
      "get": {
        "operationId": "v2.license.generate",
        "tags": [
          "License"
        ],
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "required": true,
            "description": "The asset ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/programs\/{program}\/lives": {
      "get": {
        "operationId": "v2.programs.lives.index",
        "tags": [
          "Lives"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_event_type",
            "in": "query",
            "schema": {
              "$ref": "#\/components\/schemas\/LiveEventTypeEnum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of `LiveResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/LiveResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/lives\/{live}": {
      "get": {
        "operationId": "v2.lives.show",
        "tags": [
          "Lives"
        ],
        "parameters": [
          {
            "name": "live",
            "in": "path",
            "required": true,
            "description": "The live ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`LiveResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/LiveResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/notifications": {
      "get": {
        "operationId": "notifications.index",
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "Array of `NotificationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/NotificationResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/notifications\/{notification}": {
      "patch": {
        "operationId": "notifications.update",
        "tags": [
          "Notifications"
        ],
        "parameters": [
          {
            "name": "notification",
            "in": "path",
            "required": true,
            "description": "The notification ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "2",
                      "3"
                    ]
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`NotificationResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/NotificationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/oauth\/personal-access-token": {
      "post": {
        "operationId": "v2.oauth.personal-access-token",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/CreatePersonalAccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "access_token"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/oauth\/client": {
      "post": {
        "operationId": "v2.oauth.create-client",
        "tags": [
          "OAuth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/StoreClientRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ClientResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ClientResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/oauth\/scopes": {
      "get": {
        "operationId": "v2.oauth.scopes",
        "tags": [
          "OAuth"
        ],
        "responses": {
          "200": {
            "description": "Array of `ScopeResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/ScopeResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/auth\/otp\/request": {
      "post": {
        "operationId": "v2.auth.otp.request",
        "tags": [
          "Otp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/OtpSendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "expires_after"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/auth\/otp\/submit": {
      "post": {
        "operationId": "v2.auth.otp.submit",
        "tags": [
          "Otp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/OtpSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#\/components\/schemas\/UserResource"
                    },
                    "token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "user",
                    "token"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          }
        }
      }
    },
    "\/plans": {
      "get": {
        "operationId": "plans.index",
        "tags": [
          "Plans"
        ],
        "responses": {
          "200": {
            "description": "Array of `PlanResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#\/components\/schemas\/PlanResource"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/profile": {
      "get": {
        "operationId": "v2.profile.show",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "`UserResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/UserResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "v2.profile.update",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "content": {
            "multipart\/form-data": {
              "schema": {
                "$ref": "#\/components\/schemas\/ProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`UserResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/UserResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/profile\/cellphone": {
      "patch": {
        "operationId": "v2.profile.update-cellphone",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cellphone": {
                    "type": "number"
                  }
                },
                "required": [
                  "cellphone"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "expires_after"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/profile\/cellphone\/otp": {
      "post": {
        "operationId": "v2.profile.verify-otp",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cellphone": {
                    "type": "number"
                  },
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "cellphone",
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`UserResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/UserResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/profile\/password": {
      "patch": {
        "operationId": "v2.profile.update-password",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string"
                  },
                  "password_confirmation": {
                    "type": "string"
                  }
                },
                "required": [
                  "password",
                  "password_confirmation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "expires_after"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/profile\/password\/otp": {
      "post": {
        "operationId": "v2.profile.verify-password-otp",
        "tags": [
          "Profile"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string"
                  }
                },
                "required": [
                  "otp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`UserResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/UserResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/account": {
      "delete": {
        "operationId": "v2.profile.destroy",
        "tags": [
          "Profile"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/channels\/{channel}\/programs": {
      "post": {
        "operationId": "v2.channels.programs.store",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "channel",
            "in": "path",
            "required": true,
            "description": "The channel ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "$ref": "#\/components\/schemas\/ProgramStoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "`ProgramResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ProgramResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      }
    },
    "\/programs\/{program}": {
      "get": {
        "operationId": "v2.programs.show",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProgramResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ProgramResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "v2.programs.update",
        "description": "\u26a0\ufe0fCannot generate request documentation: Attempt to read property \"id\" on null",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "`ProgramResource`",
            "content": {
              "application\/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#\/components\/schemas\/ProgramResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          },
          "422": {
            "$ref": "#\/components\/responses\/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "v2.programs.destroy",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/programs\/{program}\/start": {
      "patch": {
        "operationId": "programs.start",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/programs\/{program}\/stop": {
      "patch": {
        "operationId": "programs.stop",
        "tags": [
          "Programs"
        ],
        "parameters": [
          {
            "name": "program",
            "in": "path",
            "required": true,
            "description": "The program ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "404": {
            "$ref": "#\/components\/responses\/ModelNotFoundException"
          },
          "403": {
            "$ref": "#\/components\/responses\/AuthorizationException"
          },
          "401": {
            "$ref": "#\/components\/responses\/AuthenticationException"
          }
        }
      }
    },
    "\/reports": {
      "post": {
        "operationId": "reports.store",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application\/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "1",
                      "2",
                      "3",
                      "4",
                      "5",
                      "6",
                      "7",
                      "8",
                      "9",
                      "10",
                      "11",
                      "12",
                      "20"
                    ]
                  },
                  "asset_id": {
                    "type": "integer"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
[...]
