{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Gibical",
    "description": "Gibical Public APIs",
    "termsOfService": "https://docs.gibical.app/",
    "contact": {
      "name": "Support",
      "email": "info@gibical.app",
      "url": "https://gibical.app/contact"
    }
  },
  "servers": [
    {
      "url": "https://api.gibical.app/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "accept": {
        "in": "header",
        "name": "Accept",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "application/json"
          ]
        },
        "example": "application/json"
      },
      "xApp": {
        "in": "header",
        "name": "X-App",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "_Web",
            "_Android",
            "_iOS"
          ]
        },
        "example": "_Android",
        "description": "api_token app property"
      },
      "language": {
        "in": "header",
        "name": "Accept-Language",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "en-US",
            "fr-FR",
            "de-DE"
          ]
        },
        "example": "en-US",
        "description": "The Accept-Language request HTTP header indicates locale that the client prefers"
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Validation error of the application parameters",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "The error of not accessing the desired service"
      },
      "Unauthorized": {
        "description": "User authentication error"
      },
      "RateLimiter": {
        "description": "User authentication error, the number of requests exceeds the limit"
      },
      "NotFound": {
        "description": "Error not finding the desired resource"
      },
      "Forbidden": {
        "description": "Error accessing the desired resource"
      }
    },
    "schemas": {
      "ApiToken": {
        "type": "object",
        "description": "Webservice Token",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "token": {
            "type": "string",
            "description": "Token",
            "example": "123abc456xyz"
          },
          "app": {
            "type": "string",
            "description": "The name of the application using the token",
            "example": "myAppTitle"
          },
          "scopes": {
            "type": "string",
            "enum": [
              "api_token_view_any",
              "api_token_create",
              "api_token_delete",
              "asset_view_any",
              "asset_view",
              "asset_create",
              "asset_update",
              "asset_delete",
              "asset_buy",
              "audio_view_any",
              "audio_view",
              "audio_create",
              "audio_update",
              "audio_delete",
              "video_view_any",
              "video_view",
              "video_create",
              "video_update",
              "video_delete",
              "image_view_any",
              "image_view",
              "image_create",
              "image_update",
              "image_delete",
              "text_view_any",
              "text_view",
              "text_create",
              "text_update",
              "text_delete",
              "file_view_any",
              "file_view",
              "file_create",
              "file_update",
              "file_delete",
              "file_share_view_any",
              "file_share_create",
              "file_share_update",
              "file_share_delete",
              "stripe_connect",
              "stripe_account",
              "stripe_balance",
              "stripe_gateway",
              "transaction_view_any",
              "comment_view_any",
              "comment_view",
              "comment_create",
              "comment_update",
              "comment_delete",
              "comment_approve",
              "comment_reject",
              "external_account_view_any",
              "external_account_view",
              "external_account_create",
              "external_account_update",
              "external_account_delete",
              "profile_update",
              "user_delete"
            ],
            "description": "scopes",
            "example": [
              "api_token_create",
              "api_token_view"
            ]
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the owner",
            "example": 33
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "AuthorizationUrl": {
        "type": "object",
        "description": "Access link",
        "properties": {
          "url": {
            "type": "string",
            "description": "Access link",
            "example": "https//api.twitter.com/authorization?oauth_token=sdfwswefsvgwrg"
          }
        }
      },
      "SignIn": {
        "type": "object",
        "description": "User login information",
        "properties": {
          "id": {
            "type": "integer",
            "description": "unique identifier",
            "example": 13
          },
          "ip": {
            "type": "string",
            "description": "User's Internet ID",
            "example": "13.33.13.33"
          },
          "details": {
            "type": "string",
            "description": "User request information",
            "example": "{\"headers\": []}"
          },
          "user_id": {
            "type": "integer",
            "description": "The corresponding user ID",
            "example": 33
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "description": "User's financial transaction",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "amount": {
            "type": "integer",
            "description": "The transaction euro value",
            "example": 660000
          },
          "new_balance": {
            "type": "integer",
            "description": "The final credit of the owner user after the transaction",
            "example": 10000000
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "for the broadcast fee"
          },
          "relation_type": {
            "type": "string",
            "example": 1,
            "enum": [
              "manual",
              "debit",
              "asset-transition",
              "asset-subscription",
              "asset-transition-commission",
              "asset-subscription-commission",
              "share",
              "text-text",
              "text-translate",
              "text-image",
              "text-audio",
              "text-video",
              "audio-text",
              "audio-image",
              "audio-translate-text",
              "audio-trim",
              "audio-video",
              "video-text",
              "video-image",
              "video-audio",
              "video-trim",
              "video-mute",
              "channel-record"
            ]
          },
          "relation_id": {
            "type": "integer",
            "description": "Agent Entity ID",
            "example": 66
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the owner",
            "example": 33
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "User": {
        "description": "User",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "code": {
            "type": "string",
            "description": "Unique Code",
            "example": "123abc456xyz"
          },
          "first_name": {
            "type": "string",
            "description": "Name",
            "example": "Steve"
          },
          "last_name": {
            "type": "string",
            "description": "Last Name",
            "example": "Jobs"
          },
          "cellphone": {
            "type": "string",
            "description": "Mobile Number",
            "example": "+33652764350"
          },
          "cellphone_verified_at": {
            "type": "string",
            "description": "Mobile number confirmation time",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email",
            "example": "info@google.com"
          },
          "email_verified_at": {
            "type": "string",
            "nullable": true,
            "description": "Email confirmation time",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "status": {
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              2
            ],
            "description": "User Status\n* 1: Active\n* 2: Blocked\n"
          },
          "referrer_id": {
            "type": "integer",
            "description": "The user ID of the inviter",
            "example": 66
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "File": {
        "type": "object",
        "description": "File",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "The corresponding user ID",
            "example": 8
          },
          "user_id": {
            "type": "integer",
            "description": "The corresponding user ID",
            "example": 33
          },
          "storage": {
            "type": "string",
            "description": "Save Location",
            "example": "amazon s3"
          },
          "extension": {
            "type": "string",
            "description": "Prefix",
            "example": "jpg"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "for ..."
          },
          "details": {
            "type": "string",
            "description": "Technical Description",
            "example": ""
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Text": {
        "type": "object",
        "description": "Text",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "name": {
            "type": "string",
            "description": "Asset Name",
            "example": "The effect of exercise on heart attack"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "Exercise is one of the most important factors..."
          },
          "parent_id": {
            "type": "integer",
            "description": "Parent Unique Identifier",
            "example": 6
          },
          "user_id": {
            "type": "integer",
            "description": "Owner Identifier",
            "example": 33
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "120x120": "https://url1,jpg",
                "200x300": "https://url2.jpg"
              }
            }
          },
          "class": {
            "type": "integer",
            "description": "Asset Class\n* 1: Text\n* 2: Image\n* 3: Sound\n* 4: Video\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "status": {
            "type": "integer",
            "description": "Asset Status\n* 1: Confirm Requested\n* 2: Accepted\n* 2: Rejected\n",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ]
          },
          "plan": {
            "type": "integer",
            "description": "Asset Purchase Plan\n* 1: Free\n* 2: Ownership\n* 3: Subscribe\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "price": {
            "type": "integer",
            "description": "Asset Price",
            "example": 30000
          },
          "forkability_status": {
            "type": "integer",
            "description": "Usable in Different Services\n* 1: disable\n* 2: forkable\n",
            "enum": [
              1,
              2
            ]
          },
          "lat": {
            "type": "integer",
            "description": "latitude",
            "example": 20
          },
          "lng": {
            "type": "integer",
            "description": "Longitude",
            "example": 30
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Image": {
        "type": "object",
        "description": "Image",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "name": {
            "type": "string",
            "description": "Asset Name",
            "example": "Mona Lisa painting"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "Oil colored"
          },
          "parent_id": {
            "type": "integer",
            "description": "Parent Unique Identifier",
            "example": 6
          },
          "user_id": {
            "type": "integer",
            "description": "Owner Identifier",
            "example": 33
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "120x120": "https://url1,jpg",
                "200x300": "https://url2.jpg"
              }
            }
          },
          "class": {
            "type": "integer",
            "description": "Asset Class\n* 1: Text\n* 2: Image\n* 3: Sound\n* 4: Video\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "status": {
            "type": "integer",
            "description": "Asset Status\n* 1: Confirm Requested\n* 2: Accepted\n* 2: Rejected\n",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ]
          },
          "plan": {
            "type": "integer",
            "description": "Asset Purchase Plan\n* 1: Free\n* 2: Ownership\n* 3: Subscribe\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "price": {
            "type": "integer",
            "description": "Asset Price",
            "example": 30000
          },
          "forkability_status": {
            "type": "integer",
            "description": "Usable in Different Services\n* 1: disable\n* 2: forkable\n",
            "enum": [
              1,
              2
            ]
          },
          "lat": {
            "type": "integer",
            "description": "latitude",
            "example": 20
          },
          "lng": {
            "type": "integer",
            "description": "Longitude",
            "example": 30
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Audio": {
        "type": "object",
        "description": "Sound",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "name": {
            "type": "string",
            "description": "Asset Name",
            "example": "Guitar Sound"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "Ding! Bang! tinkle."
          },
          "type": {
            "type": "integer",
            "description": "Audio Type\n* 1: Podcast\n* 2: Music\n* 3: Audio Book\n* 4: Advertise\n* 5: Extracted from video\n* 6: Robotic voice\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6
            ]
          },
          "parent_id": {
            "type": "integer",
            "description": "Parent Unique Identifier",
            "example": 6
          },
          "user_id": {
            "type": "integer",
            "description": "Owner Identifier",
            "example": 33
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "120x120": "https://url1,jpg",
                "200x300": "https://url2.jpg"
              }
            }
          },
          "class": {
            "type": "integer",
            "description": "Asset Class\n* 1: Text\n* 2: Image\n* 3: Sound\n* 4: Video\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "status": {
            "type": "integer",
            "description": "Asset Status\n* 1: Confirm Requested\n* 2: Accepted\n* 2: Rejected\n",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ]
          },
          "plan": {
            "type": "integer",
            "description": "Asset Purchase Plan\n* 1: Free\n* 2: Ownership\n* 3: Subscribe\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "price": {
            "type": "integer",
            "description": "Asset Price",
            "example": 30000
          },
          "forkability_status": {
            "type": "integer",
            "description": "Usable in Different Services\n* 1: disable\n* 2: forkable\n",
            "enum": [
              1,
              2
            ]
          },
          "lat": {
            "type": "integer",
            "description": "latitude",
            "example": 20
          },
          "lng": {
            "type": "integer",
            "description": "Longitude",
            "example": 30
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Video": {
        "type": "object",
        "description": "Video",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "name": {
            "type": "string",
            "description": "Asset Name",
            "example": "godfather"
          },
          "description": {
            "type": "string",
            "description": "Description",
            "example": "The Story of Famous Italian Family"
          },
          "type": {
            "type": "integer",
            "description": "Video Type\n* 1: Movie\n* 2: Serial\n* 3: Episode\n* 4: Collection\n* 5: Trailer\n* 6: Live\n* 7: VLog\n* 8: Photo Album\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8
            ]
          },
          "summary": {
            "type": "string",
            "description": "Summary",
            "example": "The Story Begins whare"
          },
          "language": {
            "type": "string",
            "description": "Language",
            "example": "fr"
          },
          "genre": {
            "type": "integer",
            "description": "Genre\n* action\n* adventure\n* comedy\n* educational\n* fantasy\n* horror\n* romance\n* thriller\n",
            "example": "horror",
            "enum": [
              "action",
              "adventure",
              "comedy",
              "educational",
              "fantasy",
              "horror",
              "romance",
              "thriller"
            ]
          },
          "country": {
            "type": "integer",
            "description": "Country",
            "example": 1
          },
          "imdb_score": {
            "type": "integer",
            "description": "imdb Score",
            "example": 9.8
          },
          "production_year": {
            "type": "integer",
            "description": "Year",
            "example": 1994
          },
          "length": {
            "type": "integer",
            "description": "Video Length",
            "example": 2000
          },
          "producers": {
            "type": "array",
            "description": "Producers",
            "items": {
              "type": "string",
              "example": "Quentin Tarantino"
            }
          },
          "directors": {
            "type": "array",
            "description": "Directors",
            "items": {
              "type": "string",
              "example": "Steven Spielberg"
            }
          },
          "actors": {
            "type": "array",
            "description": "Directors",
            "items": {
              "type": "string",
              "example": "Marlon Brando"
            }
          },
          "contributors": {
            "type": "array",
            "description": "Contributors",
            "items": {
              "type": "string",
              "example": "Steve Jobs"
            }
          },
          "parent_id": {
            "type": "integer",
            "description": "Parent Unique Identifier",
            "example": 6
          },
          "user_id": {
            "type": "integer",
            "description": "Owner Identifier",
            "example": 33
          },
          "thumbnails": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "example": {
                "120x120": "https://url1,jpg",
                "200x300": "https://url2.jpg"
              }
            }
          },
          "class": {
            "type": "integer",
            "description": "Asset Class\n* 1: Text\n* 2: Image\n* 3: Sound\n* 4: Video\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "status": {
            "type": "integer",
            "description": "Asset Status\n* 1: Confirm Requested\n* 2: Accepted\n* 2: Rejected\n",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ]
          },
          "plan": {
            "type": "integer",
            "description": "Asset Purchase Plan\n* 1: Free\n* 2: Ownership\n* 3: Subscribe\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "price": {
            "type": "integer",
            "description": "Asset Price",
            "example": 30000
          },
          "forkability_status": {
            "type": "integer",
            "description": "Usable in Different Services\n* 1: disable\n* 2: forkable\n",
            "enum": [
              1,
              2
            ]
          },
          "lat": {
            "type": "integer",
            "description": "latitude",
            "example": 20
          },
          "lng": {
            "type": "integer",
            "description": "Longitude",
            "example": 30
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Tag": {
        "type": "object",
        "description": "Tag",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 11
          },
          "name": {
            "type": "string",
            "description": "Name",
            "example": "cat"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Notification": {
        "type": "object",
        "description": "Notifications",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "user_id": {
            "type": "integer",
            "description": "The corresponding user ID",
            "example": 8
          },
          "message": {
            "type": "string",
            "description": "Text",
            "example": "Your Video is Accepted"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "description": "Subscribes",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "user_id": {
            "type": "integer",
            "description": "The corresponding user ID",
            "example": 33
          },
          "price": {
            "type": "integer",
            "description": "Price",
            "example": 2000
          },
          "expires_at": {
            "type": "string",
            "description": "Expire Time",
            "example": "2022-09-26T16:13:07.000000Z"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Comment": {
        "type": "object",
        "description": "Comment",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "parent_id": {
            "type": "integer",
            "description": "Parent Unique Identifier",
            "example": 12
          },
          "asset_id": {
            "type": "integer",
            "description": "Desired Asset Identifier",
            "example": 8
          },
          "user_id": {
            "type": "integer",
            "description": "Desired User Identifier",
            "example": 33
          },
          "body": {
            "type": "string",
            "description": "Text",
            "example": "Great!"
          },
          "status": {
            "type": "integer",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ],
            "description": "Status\n* 1: Confirm Requested\n* 2: Accepted\n* 2: Rejected\n"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Channel": {
        "type": "object",
        "description": "Channel",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "title": {
            "type": "string",
            "description": "Name",
            "example": "France24"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "type": {
            "type": "integer",
            "description": "Type\n* 1: Image\n* 2: Sound\n* 3: Text\n",
            "example": 1,
            "enum": [
              1,
              2,
              3
            ]
          },
          "link": {
            "type": "string",
            "description": "Link",
            "example": "https://domain.com/channels/tv.m3u8"
          },
          "thumbnail": {
            "type": "string",
            "description": "Image",
            "example": "https://domain.com/channels/press.jpg"
          },
          "language": {
            "type": "string",
            "description": "Language",
            "example": "fa-ir"
          },
          "country": {
            "type": "integer",
            "description": "Country",
            "example": 12
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Report": {
        "type": "object",
        "description": "Asset Report",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "type": {
            "type": "integer",
            "description": "Report Type\n* 1: Disturbing content\n  * 2: Sexual content\n  * 3: Racist content\n  * 4: Insulting religious people\n  * 5: Insulting politics\n  * 6: The spread of violence\n  * 7: The spread of child abuse\n  * 8: Bullying\n  * 9: Inappropriate content for children\n  * 10: Copyright infringement\n  * 11: Unauthorized advertising\n  * 12: Animal abuse\n  * 20: Other\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              20
            ]
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the relevant asset",
            "example": 8
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the reporter"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "BugReport": {
        "type": "object",
        "description": "Problem Report",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "message": {
            "type": "string",
            "description": "Description"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "Country": {
        "type": "object",
        "description": "Problem",
        "properties": {
          "iso": {
            "type": "string",
            "description": "Code",
            "example": "FR"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "example": "France"
          },
          "calling_code": {
            "type": "string",
            "description": "Area Code",
            "example": 33
          }
        }
      },
      "ExternalAccount": {
        "type": "object",
        "description": "Account",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "type": {
            "type": "integer",
            "description": "Type\n* 1: Google\n* 2: Twitter(X)\n* 3: Facebook(Meta)\n* 4: RTMP\n",
            "example": 1,
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "title": {
            "type": "string",
            "description": "Name"
          },
          "information": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "ShareSchedule": {
        "type": "object",
        "description": "Deferred shares",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "asset_id": {
            "type": "integer",
            "description": "ID of the asset to share",
            "example": 8
          },
          "external_account_id": {
            "type": "integer",
            "description": "ID of the account to share in it",
            "example": 8
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the owner"
          },
          "type": {
            "type": "string",
            "description": "Share Types",
            "example": "google-drive",
            "enum": [
              "google-drive",
              "youtube",
              "stream",
              "twitter"
            ]
          },
          "details": {
            "type": "object"
          },
          "time": {
            "type": "string",
            "description": "Time to Share",
            "example": "2021-10-26T16:13:07.000000Z"
          },
          "status": {
            "type": "integer",
            "description": "Share Status\n* 1: PENDING\n* 2: PUBLISHED\n",
            "example": 1,
            "enum": [
              1,
              2
            ]
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "FactoryJob": {
        "type": "object",
        "description": "Deferred shares",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "type": {
            "type": "string",
            "description": "Job Types",
            "example": "text-audio",
            "enum": [
              "text-text",
              "text-translate",
              "text-image",
              "text-audio",
              "text-video",
              "audio-text",
              "audio-image",
              "audio-translate-text",
              "audio-trim",
              "audio-video",
              "video-text",
              "video-image",
              "video-audio",
              "video-trim",
              "video-mute",
              "channel-record"
            ]
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the owner"
          },
          "result": {
            "type": "object"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "connection error"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "sent",
              "done",
              "failed"
            ]
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "StripeAccount": {
        "type": "object",
        "description": "Stripe Account",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique Identifier",
            "example": 13
          },
          "user_id": {
            "type": "integer",
            "description": "User ID of the owner",
            "example": 33
          },
          "external_id": {
            "type": "string",
            "description": "Name"
          },
          "details": {
            "type": "object"
          },
          "created_at": {
            "type": "string",
            "description": "Time to Created",
            "example": "2021-09-26T16:13:07.000000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Time of last update",
            "example": "2021-09-26T16:13:07.000000Z"
          }
        }
      },
      "StripeAccountLink": {
        "type": "object",
        "description": "Account Links are the means by which a Connect platform grants a connected account permission to access Stripe-hosted applications, such as Connect Onboarding.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object's type. Objects of the same type",
            "example": "account_link"
          },
          "created": {
            "type": "integer",
            "description": "Time at which the object was created. Measured in seconds since the",
            "example": 1700504636
          },
          "expires_at": {
            "type": "integer",
            "description": "The timestamp at which this account link will expire.",
            "example": 1700504936
          },
          "url": {
            "type": "string",
            "description": "The URL for the account link.",
            "example": "https://connect.stripe.com/setup/s/acct_1032D82eZvKYlo2C/tjDoZaVTpSR2"
          }
        }
      },
      "StripeBalance": {
        "type": "object",
        "description": "This is an object representing your Stripe balance. You can retrieve it to see the balance currently on your Stripe account.",
        "properties": {
          "object": {
            "type": "string",
            "description": "String representing the object's type. Objects of the same type",
            "example": "balance"
          },
          "available": {
            "type": "array",
            "description": "Available funds that you can transfer or pay out automatically by Stripe or explicitly through the Transfers API or Payouts API. You can find the available balance for each currency and payment type in the",
            "items": {
              "properties": {
                "amount": {
                  "type": "integer",
                  "example": -76455
                },
                "currency": {
                  "type": "string",
                  "example": "eur"
                },
                "source_types": {
                  "type": "object",
                  "properties": {
                    "bank_account": {
                      "type": "integer",
                      "example": 0
                    },
                    "card": {
                      "type": "integer",
                      "example": -76455
                    }
                  }
                }
              }
            }
          },
          "connect_reserved": {
            "type": "array",
            "description": "Funds held due to negative balances on connected Custom accounts. You can find the connect reserve balance for each currency and payment type in the source_types property.",
            "items": {
              "properties": {
                "amount": {
                  "type": "integer",
                  "example": -76455
                },
                "currency": {
                  "type": "string",
                  "example": "eur"
                }
              }
            }
          },
          "livemode": {
            "type": "boolean",
            "description": "Has the value true if the object exists in channel mode or the value false if the object exists in test mode.",
            "example": false
          },
          "pending": {
            "type": "array",
            "description": "Funds that aren’t available in the balance yet. You can find the pending balance for each currency and each payment type in the source_types property.",
            "items": {
              "properties": {
                "amount": {
                  "type": "integer",
                  "example": -76455
                },
                "currency": {
                  "type": "string",
                  "example": "eur"
                },
                "source_types": {
                  "type": "object",
                  "properties": {
                    "bank_account": {
                      "type": "integer",
                      "example": 0
                    },
                    "card": {
                      "type": "integer",
                      "example": -76455
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Web Pages",
      "description": "Page Contents"
    },
    {
      "name": "Stripe",
      "description": "Stripe Service"
    },
    {
      "name": "Auth",
      "description": "User Signin/SignUp"
    },
    {
      "name": "Countries",
      "description": "Countries"
    },
    {
      "name": "Languages",
      "description": "Languages"
    },
    {
      "name": "Profile",
      "description": "User Profile"
    },
    {
      "name": "Sessions",
      "description": "Active User Tokens(Sessions)"
    },
    {
      "name": "ApiToken",
      "description": "Webservice Tokens"
    },
    {
      "name": "SignIns",
      "description": "User Logins"
    },
    {
      "name": "Transactions",
      "description": "Current User Transactions"
    },
    {
      "name": "Gateways",
      "description": "Online Payment Gateways"
    },
    {
      "name": "Assets",
      "description": "Assets"
    },
    {
      "name": "Texts",
      "description": "Texts"
    },
    {
      "name": "Images",
      "description": "Images"
    },
    {
      "name": "Audios",
      "description": "Sounds"
    },
    {
      "name": "Videos",
      "description": "Videos"
    },
    {
      "name": "Files",
      "description": "Files"
    },
    {
      "name": "Tags",
      "description": "Tags"
    },
    {
      "name": "Notifications",
      "description": "Notofications"
    },
    {
      "name": "Channels",
      "description": "Channels"
    },
    {
      "name": "Reports",
      "description": "Reports"
    },
    {
      "name": "Share",
      "description": "Sharing"
    },
    {
      "name": "Job",
      "description": "Asset Conversation and Transformation"
    }
  ],
  "paths": {
    "/home": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Receive Content of Home Page",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "page meta description",
                      "example": "we are .."
                    },
                    "keywords": {
                      "type": "array",
                      "description": "page meta keywords",
                      "items": {
                        "type": "string",
                        "example": "media asset management"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/terms": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Receive Content of Terms & Conditions",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "Content of Terms & Condition",
                      "example": "<h1>our Terms</h1>"
                    },
                    "description": {
                      "type": "string",
                      "description": "page meta description",
                      "example": "we are .."
                    },
                    "keywords": {
                      "type": "array",
                      "description": "page meta keywords",
                      "items": {
                        "type": "string",
                        "example": "media asset management"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/privacy": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Receive Content of Privacy",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "Content of Privacy",
                      "example": "<h1>our Privacy</h1>"
                    },
                    "description": {
                      "type": "string",
                      "description": "page meta description",
                      "example": "out privacy policy"
                    },
                    "keywords": {
                      "type": "array",
                      "description": "page meta keywords",
                      "items": {
                        "type": "string",
                        "example": "privacy"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/about-us": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Receive Content of about Us page",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "html": {
                      "type": "string",
                      "description": "Content of about us page",
                      "example": "<p>we are ...</p>"
                    },
                    "address": {
                      "type": "string",
                      "description": "our address",
                      "example": "Paris"
                    },
                    "phone": {
                      "type": "string",
                      "description": "our phone",
                      "example": 3311111111
                    },
                    "email": {
                      "type": "string",
                      "description": "our email",
                      "example": "info@domain.com"
                    },
                    "links": {
                      "type": "array",
                      "description": "our social media addresses",
                      "items": {
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://facebook.com/..."
                          },
                          "name": {
                            "type": "string",
                            "example": "facebook"
                          }
                        }
                      }
                    },
                    "description": {
                      "type": "string",
                      "description": "page meta description",
                      "example": "we are .."
                    },
                    "lat": {
                      "type": "integer",
                      "description": "our location latitude",
                      "example": 23.344
                    },
                    "lng": {
                      "type": "integer",
                      "description": "our location longitude",
                      "example": 32.344
                    },
                    "keywords": {
                      "type": "array",
                      "description": "page meta keywords",
                      "items": {
                        "type": "string",
                        "example": "media asset management"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/faq": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Get the content of frequently asked questions",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "page meta description",
                      "example": "we are .."
                    },
                    "keywords": {
                      "type": "array",
                      "description": "page meta keywords",
                      "items": {
                        "type": "string",
                        "example": "media"
                      }
                    },
                    "questions": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2
                          },
                          "question": {
                            "type": "string",
                            "example": "A test question"
                          },
                          "answer": {
                            "type": "string",
                            "example": "A test answer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/sitemap": {
      "get": {
        "tags": [
          "Web Pages"
        ],
        "description": "Get asset ids for sitemap",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "texts": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2
                          },
                          "name": {
                            "type": "string",
                            "example": "Another Brick in the Wall Lyrics"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Time to Created",
                            "example": "2021-09-26T16:13:07.000000Z"
                          }
                        }
                      }
                    },
                    "images": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2
                          },
                          "name": {
                            "type": "string",
                            "example": "Another Brick in the Wall Poster"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Time to Created",
                            "example": "2021-09-26T16:13:07.000000Z"
                          }
                        }
                      }
                    },
                    "audios": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 2
                          },
                          "name": {
                            "type": "string",
                            "example": "Another Brick in the Wall mp3"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Time to Created",
                            "example": "2021-09-26T16:13:07.000000Z"
                          }
                        }
                      }
                    },
                    "videos": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 3
                          },
                          "name": {
                            "type": "string",
                            "example": "Another Brick in the Wall Music Video"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Time to Created",
                            "example": "2021-09-26T16:13:07.000000Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/stripe/connect": {
      "post": {
        "tags": [
          "Stripe"
        ],
        "description": "Stripe Connect",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeAccountLink"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/stripe/account": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "description": "Get stripe account detail",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/stripe/balance": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "description": "Get stripe balance",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeBalance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/stripe/gateway": {
      "get": {
        "tags": [
          "Stripe"
        ],
        "description": "Get stripe balance",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeBalance"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/otp/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "Login With Mobile",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cellphone",
                  "captcha"
                ],
                "properties": {
                  "cellphone": {
                    "type": "string",
                    "example": "+33652764350"
                  },
                  "captcha": {
                    "type": "string",
                    "example": "abc123xyz456",
                    "description": "Captcha Code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "integer",
                      "example": 120,
                      "description": "Time remaining until the code expires"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/otp/submit": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "Registration of the one-time use code received for entry",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cellphone",
                  "otp"
                ],
                "properties": {
                  "cellphone": {
                    "type": "string",
                    "example": "+33652764350"
                  },
                  "otp": {
                    "type": "string",
                    "example": 123456,
                    "description": "Received OTP"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "abc123xyz456",
                      "description": "User token to call web services"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/sign-in": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "Login With PasswordS",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "required": [
                      "cellphone",
                      "password"
                    ],
                    "properties": {
                      "cellphone": {
                        "type": "string",
                        "example": "+33652764350",
                        "description": "User Cellphone"
                      },
                      "password": {
                        "type": "string",
                        "example": "secret69",
                        "description": "User Password"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "username",
                      "password"
                    ],
                    "properties": {
                      "username": {
                        "type": "string",
                        "example": "username12",
                        "description": "User username"
                      },
                      "password": {
                        "type": "string",
                        "example": "secret69",
                        "description": "User Password"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "required": [
                      "email",
                      "password"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "example": "info@domain.com",
                        "description": "User email"
                      },
                      "password": {
                        "type": "string",
                        "example": "secret69",
                        "description": "User Password"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "abc123xyz456",
                      "description": "User token to call web services"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/sign-up-completion": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "complete required user information",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "Wall-E"
                  },
                  "password": {
                    "type": "string",
                    "example": "secret69",
                    "description": "User Password"
                  },
                  "first_name": {
                    "type": "string",
                    "example": "Steve",
                    "description": "User First Name"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Jobs",
                    "description": "User Last Name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/sign-out": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "Logout",
        "responses": {
          "204": {
            "description": "successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/google": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "User login with Google\nfor more information read this page: https://developers.google.com/identity/oauth2/web/guides/use-token-model\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Access Token received from Google Using the token model(implicit grand model)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/facebook": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "User login with Facebook(Meta)",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Token received from Facebook(Meta)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/apple": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "User login with Apple",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_token"
                ],
                "properties": {
                  "id_token": {
                    "type": "string",
                    "description": "Token received from Apple"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/auth/twitter": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "User login with Twitter(X)",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "Token received from Twitter(X)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successful response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/twitter/authorization": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "Requesting a link to get the user's Twitter(X) access",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "description": "Get Countries List",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "description": "Get Languages List",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "en": "English",
                      "fr": "France"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/account": {
      "delete": {
        "tags": [
          "Profile"
        ],
        "description": "Delete Account",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "your account will be permanently deleted."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "description": "Get user profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "description": "Edit user profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          },
          {
            "in": "query",
            "name": "user",
            "required": false,
            "description": "The desired user ID or empty for the current user",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "example": "Steve"
                  },
                  "last_name": {
                    "type": "string",
                    "example": "Jobs"
                  },
                  "email": {
                    "type": "string",
                    "example": "info@domain.com"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "User Profile Image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/cellphone": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "description": "Request to change the user's mobile number",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cellphone"
                ],
                "properties": {
                  "cellphone": {
                    "type": "string",
                    "example": "+33652764350"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "integer",
                      "description": "The validity period of the code sent is in seconds",
                      "example": 120
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/cellphone/otp": {
      "post": {
        "tags": [
          "Profile"
        ],
        "description": "Sending mobile number verification code",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "otp",
                  "cellphone"
                ],
                "properties": {
                  "otp": {
                    "type": "integer",
                    "description": "Code received by SMS",
                    "example": "123456"
                  },
                  "cellphone": {
                    "type": "string",
                    "example": "+33652764350"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/password": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "description": "Request to change/add password number",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Password",
                    "example": "secret69"
                  },
                  "password_confirmation": {
                    "type": "string",
                    "description": "Confirm password",
                    "example": "secret69"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_after": {
                      "type": "integer",
                      "description": "The validity period of the code sent is in seconds",
                      "example": 120
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/password/otp": {
      "post": {
        "tags": [
          "Profile"
        ],
        "description": "Send confirmation code to change password",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "otp",
                  "password"
                ],
                "properties": {
                  "otp": {
                    "type": "integer",
                    "description": "Code received by SMS",
                    "example": "123456"
                  },
                  "password": {
                    "type": "string",
                    "example": "secret69"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/statics": {
      "get": {
        "tags": [
          "Profile"
        ],
        "description": "Get current user statistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assets": {
                      "type": "integer",
                      "description": "Number of assets",
                      "example": 10
                    },
                    "texts": {
                      "type": "integer",
                      "description": "Number of text assets",
                      "example": 2
                    },
                    "images": {
                      "type": "integer",
                      "description": "Number of image assets",
                      "example": 3
                    },
                    "audios": {
                      "type": "integer",
                      "description": "Number of audio assets",
                      "example": 2
                    },
                    "videos": {
                      "type": "integer",
                      "description": "Number of video assets",
                      "example": 3
                    },
                    "sales_number": {
                      "type": "integer",
                      "description": "The volume of sales or sharing of assets",
                      "example": 12
                    },
                    "sales_volume": {
                      "type": "integer",
                      "description": "The volume of sales or sharing of assets",
                      "example": 10000
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimiter"
          }
        }
      }
    },
    "/profile/assets": {
      "get": {
        "tags": [
          "Profile"
        ],
        "description": "Get the assets of the current user",
        "parameters": [
          {
            "$ref": "#/components/parameters/accept"
          },
          {
            "$ref": "#/components/parameters/xApp"
          },
          {
[...]
